.helper-chat {

  display: flex;
  justify-content: center;

  &__list_of_users {
    margin-top: 0.5rem;
    max-height: 35rem;
    overflow: auto;
    padding-right: 0.5rem;
  }

  &__working-zone {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    gap: 1rem;
  }


  &__message {
    border-radius: 10px;
    color: #000;
  }

  &__user_name {
    border: 1px solid wheat;
    background-color: #19a93f;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    margin-bottom: 0.3rem;
  }

  &__user_name:hover {
    cursor: pointer;
  }

  &__send_btn {
    display: block;
    width: 7rem;
    margin-left: auto;
    margin-right: auto;
  }

  &__messages {
    background-color: #161a1b;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.2rem;
    width: 22rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.3rem;
    border-radius: 5px;
    max-height: 35rem;
    overflow: auto;
  }

  &__single_msg {
    background-color: blueviolet;
    padding: 0.5rem;
    border-radius: 10px;
    margin-bottom: 0.3rem;
    width: 80%;
    margin-right: auto;
  }

  &__single_msg_not_yours {
    background-color: #8f509f;
    padding: 0.5rem;
    border-radius: 10px;
    margin-bottom: 0.3rem;
    width: 80%;
    margin-left: auto;
  }

  &__single_msg_author {
    text-align: end;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
    font-style: italic;
  }

  &__single_msg_txt {
    text-align: start;
    font-size: 1.3rem;
    word-break: break-all;
  }

  &__single_msg_date {
    font-style: italic;
    font-size: 0.8rem;
    text-align: end;
  }
}

@media screen and (max-width: 568px) {

  .helper-chat {
      display: block;

      &__user_name {
        width: 10rem;
        margin-left: auto;
        margin-right: auto;
      }
  }
}
